<div
  class="bg-white px-5 py-[50px] tablet:px-20 laptop:px-[150px] laptop:pt-[77px] laptop:pb-[61px] max-w-full border border-border rounded-md"
>
  <form
    #loginForm="ngForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-y-[34px] laptop:w-[286px] mb-[38px]"
    novalidate
  >
    <!-- Email -->
    <app-input
      ngModel
      [name]="FIELDS.EMAIL"
      #emailCtrl="ngModel"
      formName="loginForm"
      [fieldName]="FIELDS.EMAIL"
      type="email"
      [label]="FIELD_NAMES.EMAIL"
      placeholder="Input text"
      [hasError]="
        !!(emailCtrl.invalid && (emailCtrl.touched || loginForm.submitted))
      "
      [errorMessage]="emailCtrl.errors?.['required'] ? 'Email is required.' : 'Invalid email format.'"
      required
      emailValidator
    ></app-input>

    <!-- Password -->
    <app-input
      ngModel
      [name]="FIELDS.PASSWORD"
      #passwordCtrl="ngModel"
      formName="loginForm"
      [fieldName]="FIELDS.PASSWORD"
      type="password"
      [label]="FIELD_NAMES.PASSWORD"
      placeholder="Input text"
      [hasError]="
        !!(
          passwordCtrl.invalid &&
          (passwordCtrl.touched || loginForm.submitted)
        )
      "
      [errorMessage]="'Password is required.'"
      required
    ></app-input>

    <!-- Submit Button -->
    <app-button [buttonText]="BUTTON_TEXT.LOGIN" type="submit"></app-button>
  </form>

  <p class="w-[286px] max-w-full">
    {{ PAGE_TEXT.LOGIN.TEXT }}
    <a
      href=""
      class="font-bold underline decoration-transparent hover:decoration-grey transition-colors cursor-pointer"
    >
      {{ BUTTON_TEXT.REGISTER }}
    </a>
  </p>
</div>
