<div
  class="bg-white px-5 py-[50px] tablet:px-20 laptop:px-[150px] laptop:pt-[77px] laptop:pb-[61px] max-w-full border border-border rounded-md"
>
  <form
    #loginForm="ngForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-y-[34px] laptop:w-[286px] mb-[38px]"
    novalidate
  >
    <!-- Email -->
    <div class="flex flex-col text-start font-bold relative w-full">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Input text"
        [ngClass]="{
          'border border-border bg-white rounded-sm px-4 py-3 font-normal leading-24 transition-colors': true,
          'border-error':
            (emailCtrl.invalid && emailCtrl.touched) ||
            (emailCtrl.invalid && loginForm.submitted)
        }"
        required
        emailValidator
        [(ngModel)]="email"
        #emailCtrl="ngModel"
      />
      <span
        id="emailErrorMessage"
        class="font-normal text-error absolute top-full"
        *ngIf="
          (emailCtrl.invalid && emailCtrl.touched) ||
          (emailCtrl.invalid && loginForm.submitted)
        "
      >
        {{ emailCtrl.errors?.['required'] ? 'Email is required.' : 'Invalid email format.' }}
      </span>
    </div>

    <!-- Password -->
    <div class="flex flex-col text-start font-bold relative w-full">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Input text"
        [ngClass]="{
          'border border-border bg-white rounded-sm px-4 py-3 font-normal leading-24 transition-colors': true,
          'border-error':
            (passwordCtrl.invalid && passwordCtrl.touched) ||
            (passwordCtrl.invalid && loginForm.submitted)
        }"
        required
        [(ngModel)]="password"
        #passwordCtrl="ngModel"
      />
      <span
        id="passwordErrorMessage"
        class="font-normal text-error absolute top-full"
        *ngIf="
          (passwordCtrl.invalid && passwordCtrl.touched) ||
          (passwordCtrl.invalid && loginForm.submitted)
        "
      >
        Password is required.
      </span>
    </div>

    <!-- Submit Button -->
    <app-button [buttonText]="BUTTON_TEXT.LOGIN" type="submit"></app-button>
  </form>

  <p class="w-[286px] max-w-full">
    If you don't have an account you may
    <a
      href=""
      class="font-bold underline decoration-transparent hover:decoration-grey transition-colors cursor-pointer"
    >
      {{ BUTTON_TEXT.REGISTER }}
    </a>
  </p>
</div>
