<app-header>
  <ng-container *ngIf="isAuthorized$ | async">
    <span class="text-sm/5 font-bold">{{ userName$ | async }}</span>
    <app-button
      (click)="onLogout()"
      [buttonText]="TEXT.BUTTON_TEXT.LOGOUT"
      [width]="140"
    ></app-button
  ></ng-container>
</app-header>
<div class="container">
  <router-outlet></router-outlet>
  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
