<section class="py-[71px]">
  <h2 class="text-[32px]/10 font-bold mb-[45px]">Course Edit/Create Page</h2>
  <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
    <div
      class="app-plate bg-white mb-8 flex flex-wrap gap-8 justify-between items-start border border-border rounded-md px-5 py-[25px] laptop:pt-[42px] laptop:px-[80px] laptop:pb-[76px]"
    >
      <!-- Main Info -->
      <div class="course flex flex-col gap-y-6 w-full">
        <h3 class="text-2xl font-bold">{{ FIELD_NAMES.MAIN_INFO }}</h3>

        <!-- Title -->
        <app-input-wrapper
          [label]="FIELD_NAMES.TITLE"
          [controlId]="'courseForm_' + FIELDS.TITLE"
          [isError]="
            !!(titleCtrl?.invalid && (titleCtrl?.touched || submitted))
          "
          [errorMessage]="titleCtrl?.errors?.['required'] ? 'Title is required.' : 'Title must be at least 2 characters.'"
        >
          <input
            type="text"
            [id]="'courseForm_' + FIELDS.TITLE"
            [name]="FIELDS.TITLE"
            [formControlName]="FIELDS.TITLE"
            placeholder="Input text"
            required
          />
        </app-input-wrapper>

        <!-- Description -->
        <app-input-wrapper
          [label]="FIELD_NAMES.DESCRIPTION"
          [controlId]="'courseForm_' + FIELDS.DESCRIPTION"
          [isError]="
            !!(
              descriptionCtrl?.invalid &&
              (descriptionCtrl?.touched || submitted)
            )
          "
          [errorMessage]="descriptionCtrl?.errors?.['required'] ? 'Description is required.' : 'Description must be at least 2 characters.'"
        >
          <textarea
            [id]="'courseForm_' + FIELDS.DESCRIPTION"
            [name]="FIELDS.DESCRIPTION"
            [formControlName]="FIELDS.DESCRIPTION"
            placeholder="Input text"
            required
            rows="5"
          ></textarea>
        </app-input-wrapper>
      </div>

      <!-- Duration -->
      <div class="flex flex-col gap-y-[24px] w-[601px] max-w-full">
        <h3 class="text-2xl font-bold">{{ FIELD_NAMES.DURATION }}</h3>
        <div class="flex flex-col tablet:flex-row gap-4 items-end">
          <div class="w-full">
            <app-input-wrapper
              [label]="FIELD_NAMES.DURATION"
              [controlId]="'courseForm_' + FIELDS.DURATION"
              [isError]="
                !!(
                  durationCtrl?.invalid &&
                  (durationCtrl?.touched || submitted)
                )
              "
              [errorMessage]="'Duration is required.'"
            >
              <input
                type="number"
                [id]="'courseForm_' + FIELDS.DURATION"
                [name]="FIELDS.DURATION"
                [formControlName]="FIELDS.DURATION"
                placeholder="Input number"
                required
              />
            </app-input-wrapper>
          </div>
          <div
            class="tablet:flex tablet:w-[185px] tablet:flex-none tablet:h-[50px] tablet:items-center gap-x-1.5"
          >
            <b>{{ durationValue | duration }}</b>
          </div>
        </div>
      </div>

      <!-- Authors -->
      <div class="flex flex-col gap-y-[32px] w-[601px] max-w-full">
        <!-- Create Author -->
        <div class="flex flex-col gap-y-[24px]">
          <h3 class="text-2xl font-bold">{{ FIELD_NAMES.AUTHORS }}</h3>
          <div class="flex flex-col tablet:flex-row gap-4 items-end">
            <div class="w-full">
              <app-input-wrapper
                [label]="FIELD_NAMES.AUTHOR_NAME"
                [controlId]="'courseForm_' + FIELDS.NEW_AUTHOR"
                [isError]="
                  !!(authorCtrl?.invalid && (authorCtrl?.touched || submitted))
                "
                [errorMessage]="
                  'Only Latin letters and numbers, min 2 characters.'
                "
                ><input
                  type="text"
                  [id]="'courseForm_' + FIELDS.NEW_AUTHOR"
                  [name]="FIELDS.NEW_AUTHOR"
                  [formControlName]="FIELDS.NEW_AUTHOR"
                  placeholder="Input text"
              /></app-input-wrapper>
            </div>
            <app-button
              id="createAuthor"
              (click)="addNewAuthor()"
              [buttonText]="BUTTON_TEXT.CREATE_AUTHOR"
              [width]="185"
              type="button"
            ></app-button>
          </div>
        </div>

        <!-- Available Authors List -->
        <div class="flex flex-col gap-y-6">
          <h3 class="text-xl font-bold">{{ FIELD_NAMES.AUTHORS_LIST }}</h3>
          <ul *ngIf="availableAuthors.length; else noAvailableAuthors">
            <li
              *ngFor="let author of availableAuthors"
              class="flex items-center gap-x-2.5"
            >
              <span>{{ author.name }}</span>
              <app-button
                iconName="plus"
                (click)="addExistingAuthor(author)"
                [transparent]="true"
                size="sm"
              ></app-button>
            </li>
          </ul>
          <ng-template #noAvailableAuthors>
            <p>No available authors</p>
          </ng-template>
        </div>
      </div>

      <!-- Selected Authors -->
      <div class="flex flex-col gap-y-6 relative">
        <h3 class="text-2xl font-bold">{{ FIELD_NAMES.COURSE_AUTHORS }}</h3>
        <ul *ngIf="selectedAuthors.length; else empty">
          <li
            *ngFor="let author of selectedAuthors"
            class="flex items-center gap-x-2.5"
          >
            <span>{{ author.name }}</span>
            <app-button
              [iconName]="'trash-can'"
              (click)="removeAuthor(author.id)"
              [transparent]="true"
              size="sm"
            ></app-button>
          </li>
        </ul>
        <ng-template #empty>
          <p class="desktop:text-center">Author list is empty</p>
        </ng-template>
        <span
          *ngIf="authors.invalid && submitted"
          class="font-normal text-error w-full desktop:text-center absolute top-full"
        >
          Authors are required
        </span>
      </div>
    </div>

    <!-- Buttons -->
    <div class="flex flex-wrap justify-end items-end gap-5">
      <app-button
        routerLink="/courses"
        [buttonText]="BUTTON_TEXT.BACK"
        [width]="185"
        type="button"
      ></app-button>
      <app-button
        [buttonText]="BUTTON_TEXT.ADD_COURSE"
        type="submit"
        [width]="185"
      ></app-button>
    </div>
  </form>
</section>
