<app-info [title]="TEXT.PAGE_TEXT.REGISTRATION.TITLE">
  <div
    class="bg-white px-5 py-[50px] tablet:px-20 laptop:px-[150px] laptop:pt-[77px] laptop:pb-[61px] max-w-full border border-border rounded-md"
  >
    <form
      [formGroup]="registrationForm"
      (ngSubmit)="onSubmit()"
      class="form flex flex-col gap-y-[34px] laptop:w-[286px] mb-[38px]"
      novalidate
    >
      <!-- Name -->
      <app-input-wrapper
        [label]="TEXT.FIELD_NAMES.NAME"
        [controlId]="'registrationForm_' + FIELDS.NAME"
        [isError]="!!(nameCtrl?.invalid && (nameCtrl?.touched || submitted))"
        [errorMessage]="nameCtrl?.errors?.['required'] ? 'Name is required.' : 'Name must be at least 6 characters.'"
        ><input
          type="text"
          [id]="'registrationForm_' + FIELDS.NAME"
          [formControlName]="FIELDS.NAME"
          [name]="FIELDS.NAME"
          placeholder="Input text"
          required
      /></app-input-wrapper>

      <!-- Email -->
      <app-input-wrapper
        [label]="TEXT.FIELD_NAMES.EMAIL"
        [controlId]="'registrationForm_' + FIELDS.EMAIL"
        [isError]="!!(emailCtrl?.invalid && (emailCtrl?.touched || submitted))"
        [errorMessage]="emailCtrl?.errors?.['required'] ? 'Email is required.' : 'Invalid email format.'"
        ><input
          type="email"
          [id]="'registrationForm_' + FIELDS.EMAIL"
          [formControlName]="FIELDS.EMAIL"
          [name]="FIELDS.EMAIL"
          placeholder="Input text"
          required
      /></app-input-wrapper>

      <!-- Password -->
      <app-input-wrapper
        [label]="TEXT.FIELD_NAMES.PASSWORD"
        [controlId]="'registrationForm_' + FIELDS.PASSWORD"
        [isError]="
          !!(passwordCtrl?.invalid && (passwordCtrl?.touched || submitted))
        "
        [errorMessage]="'Password is required.'"
        [btnIconName]="isPasswordVisible ? 'eye' : 'eye-slash'"
        (clickOnIcon)="togglePasswordVisibility()"
        ><input
          [type]="isPasswordVisible ? 'text' : 'password'"
          [id]="'registrationForm_' + FIELDS.PASSWORD"
          [formControlName]="FIELDS.PASSWORD"
          [name]="FIELDS.PASSWORD"
          placeholder="Input text"
          required
      /></app-input-wrapper>

      <!-- Submit Button -->
      <app-button
        [buttonText]="TEXT.BUTTON_TEXT.REGISTER"
        type="submit"
      ></app-button>
    </form>

    <p class="w-[286px] max-w-full">
      {{ TEXT.PAGE_TEXT.REGISTRATION.TEXT }}
      <a
        routerLink="/login"
        class="font-bold underline decoration-transparent hover:decoration-grey transition-colors cursor-pointer"
      >
        {{ TEXT.BUTTON_TEXT.LOGIN }}
      </a>
    </p>
  </div>
</app-info>
